<div class="container mt-4">
  <h1>Clients overview</h1>
  <br>
  <%= link_to "Create new User", new_user_path %>
  <table>
    <tr>
      <th>Client Email</th>
      <th>Country</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
    <% @clients.each do | client| %>
    <tr>
      <td> <%= client.email %> </td>
      <td> <%= client.country %> </td>
      <td> <%= client.points %> </td>
      <td>
        <%= link_to "Add New Transaction", new_user_transaction_path(client.id) %> |
        <%= link_to "Show Transactions", user_transactions_path(client.id) %> |
        <%= link_to "Update User", edit_user_path(client.id) %> |
        <%= link_to "Delete User", user_path(client.id), method: :delete %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
